.join-room-container {
  width: 100vw;
  height: 100vh;
  background-image: url('bg_for_multiplayer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  text-shadow: 0 0 12px rgba(0, 255, 255, 0.8);
}

.join-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-room-form label {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #a2fefe;
}

.join-room-form input {
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  width: 260px;
  border: 1px solid #6fffe9;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  box-shadow: 0 0 10px #6fffe9;
}

.join-room-form input::placeholder {
  color: #a2fefe;
}

.join-room-form button {
  padding: 12px 25px;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 12px;
  box-shadow: 0 0 15px #00e1ff;
  transition: background 0.3s, transform 0.2s;
}

/* .join-room-form button:hover {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  transform: scale(1.05);
  box-shadow: 0 0 20px #00e1ff;
}

button:nth-child(2) {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  box-shadow: 0 0 12px #ff416c;
}

button:nth-child(2):hover {
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  transform: scale(1.05);
  box-shadow: 0 0 18px #ff416c; */
/* } */

.error-message {
  color: #ff6f91;
  margin-bottom: 15px;
  text-shadow: 0 0 6px #ff416c;
}
