@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Baloo+2:wght@700&display=swap');

.login-container {
  background: url("../assets/background.jpeg.jpeg") no-repeat center center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Logo */
.login-logo {
  width: 180px;
  height: auto;
  margin-bottom: 23px;
  margin-top: -16px;
}

/* Title */
.login-title {
  font-family: 'Bagel Fat One', cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 3px 3px 5px black;
  margin-top: -10px;
  margin-bottom: 50px;
}

/* Login Panel */
.login-panel {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 15px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 320px;
  text-align: center;
}

/* Input Fields */
.input-field {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid gray;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

/* Separator */
.separator {
  border: none;
  height: 2px;
  background: black;
  margin: 10px 0;
}

/* Social Buttons */
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.google {
  background-color: white;
  border: 2px solid gray;
  color: black;
}

.discord {
  background-color: #7289da;
  color: white;
  border: 2px solid rgb(14, 105, 252);
}

/* Icons */
.social-icon {
  margin-right: 10px;
}

/* Login Button */
.login-button {
  font-family: 'Baloo 2', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 12px 30px;
  border: 3px solid gray;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  margin-top: 15px;
}

.login-button:hover {
  background-color: white;
  color: black;
}

/* Back Button */
.back-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: darkblue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.back-icon {
  color: white;
  font-size: 2.6rem;
}

.back-button:hover .back-icon {
  transform: scale(1.1);
}

/* Settings Button */
.settings-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: darkblue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.settings-icon {
  color: white;
  font-size: 2.8rem;
}

.settings-button:hover .settings-icon {
  transform: rotate(360deg);
}
