:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Dashboard Page */
.dashboard .game-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.dashboard .game-button:hover {
  border-color: #646cff;
}
.dashboard .game-button:focus,
.dashboard .game-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Single Player Page */
.singleplayer-container .game-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.singleplayer-container .game-button:hover {
  border-color: #646cff;
}
.singleplayer-container .game-button:focus,
.singleplayer-container .game-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Settings Panel */
.settings-panel .settings-button {
  position: absolute;
  bottom: 80px;
  right: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.settings-panel .settings-button:hover {
  border-color: #646cff;
}
.settings-panel .settings-button:focus,
.settings-panel .settings-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  .dashboard .game-button,
  .singleplayer-container .game-button,
  .settings-panel .settings-button {
    background-color: #f9f9f9;
  }
}
